@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

@import "base/variables";
@import "base/mixins";

* {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
    background-color: $black-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
}

button {
    font: inherit;
    appearance: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    &:focus {
        outline: none; /* Видалити рамку при фокусі */
    }
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@import "blocks/title";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/about";
@import "blocks/service";
@import "blocks/works";
