@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

@import "base/variables";
@import "base/mixins";

* {
    font-family: "Exo 2", "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: $black-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

@import "blocks/title";
@import "blocks/header";
@import "blocks/promo";
