.header {
    padding-top: 45px;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }
    &__icon {
        display: block;
        img {
            max-width: 198px;
            object-fit: cover;
        }
    }
    &__list {
        display: flex;
        justify-content: end;
        list-style-type: none;
        gap: 45px;
    }
    &__link {
        a {
            position: relative;
            text-decoration: none;
            font-family: "Exo 2";
            font-weight: 600;
            font-size: 18px;
            color: $white-color;
            &:after {
                position: absolute;
                content: "";
                display: block;
                bottom: 0;
                left: 0;
                height: 2px;
                line-height: 1;
                width: 100%;
                background-color: $tile-color;
                transform-origin: right bottom;
                transform: scaleX(0);
                transition: transform 0.4s linear;
            }
            &:hover {
                &:after {
                    transform: scaleX(1);
                    transform-origin: left bottom;
                    transition: transform 0.4s linear;
                }
            }
        }
    }
}
