@media (max-width: 1439px) {
}

@media (max-width: 1200px) {
    .title {
        font-size: calc(28px + (48 - 28) * ((100vw - 360px) / (1200 - 360)));
        margin-bottom: calc(15px + 3vw);
    }
    .promo {
        &__title {
            font-size: calc(
                40px + (150 - 40) * ((100vw - 360px) / (1200 - 360))
            );
        }
        &__text {
            font-size: calc(
                18px + (24 - 18) * ((100vw - 360px) / (1200 - 360))
            );
        }
    }
    .about {
        &__text {
            margin-top: 0;
        }
    }
    .service {
        &__wrapper {
            margin-top: 0;
        }
    }
    .about,
    .service,
    .review,
    .contacts,
    .works {
        padding: calc(15px + 4vw) 0;
    }
}

@media (max-width: 992px) {
    .burger {
        display: block;
    }
    .header {
        &__list {
            position: absolute;
            padding: 30px;
            top: 100%;
            right: 0;
            width: 300px;
            flex-direction: column;
            gap: 20px;
            background-color: $smoky-color;
            opacity: 0;
            transform: translateX(200%);
            transition: all 0.3s ease-in-out;
        }
        a {
            font-size: 30px;
        }
    }
    .open {
        opacity: 1;
        transform: translateX(0);
    }
    .works {
        &__tabs {
            gap: calc(15px + 2vw) calc(15px + 3vw);
            margin-top: calc(25px + 3vw);
        }
        &__content {
            margin-top: calc(15px + 3vw);
        }
    }
    .review {
        &__list {
            margin-bottom: calc(15px + 3vw);
        }
    }
}

@media (max-width: 768px) {
    .swiper-slide-next {
        opacity: 0;
    }
}

@media (max-width: 576px) {
    .review {
        &__slider {
            padding: 0;
        }
        &__button {
            display: none;
        }
    }
}

@media (max-height: 550px) {
    .promo {
        &__icon {
            display: none;
        }
    }
}
