.promo {
    padding: 45px 0 50px 0;
    height: 100vh;
    &__descr {
        color: $white-color;
        text-align: center;
        font-family: "Exo 2";
        font-size: 24px;
        font-weight: 400;
    }
}
