.promo {
    position: relative;
    height: 100vh;
    &:before {
        position: absolute;
        content: "";
        z-index: -1;
        top: 200px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        max-width: 1315px;
        width: 100%;
        height: 670px;
        background-color: $tile-color;
        filter: blur(330px);
    }
    &__title {
        font-size: 150px;
    }
    &__inner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__content {
        max-width: 775px;
    }
    &__text {
        margin: 50px auto 0;
        max-width: 680px;
        color: $white-color;
        text-align: center;
        font-family: "Exo 2";
        font-size: 24px;
        font-weight: 400;
    }
    &__icon {
        position: absolute;
        bottom: 35px;
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50%;

        background-color: rgba($botanic-color, 0.75);
        border: 15px solid rgba($botanic-color, 0.5);
        outline: 15px solid rgba($botanic-color, 0.25);

        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: "";
            min-width: 35px;
            height: 35px;
            background-image: url("../icons/icon-mouse.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: block;
        }
        &:hover {
            animation: pulse 3s ease 0s infinite normal forwards;
        }
    }
}
