.service {
    position: relative;
    padding-top: 120px;
    &:before {
        position: absolute;
        content: "";
        z-index: -1;
        top: 200px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 1315px;
        height: 670px;
        background-color: $tile-color;
        opacity: 0.65;
        filter: blur(330px);
    }
    &__wrapper {
        margin-top: 80px;
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        padding: 30px;
        width: 380px;
        min-height: 340px;
        border-radius: 40px;
        transition: background-color 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out 0.35s;
        &:hover {
            background-color: $black-color;
            box-shadow: 0px 0px 25px 0px $tile-color;
            .service__item_more {
                opacity: 1;
            }
        }
        &_more {
            text-decoration: none;
            display: block;
            opacity: 0;
            margin-top: 30px;
            font-size: 16px;
            width: fit-content;
            margin-left: auto;
            color: $photon-color;
            transition: opacity 0.3s ease-in-out 0.4s, color 0.4s ease-in-out;
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;
                width: 16px;
                height: 16px;
                background-image: url("../icons/arrows/icon-arrow.svg");
                background-size: contain;
                background-position: center;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                text-decoration: none;
                color: rgba($photon-color, 0.7);
                &:after {
                    transform: translateX(-10px);
                }
            }
        }
        &_icon {
            display: block;
            max-width: 70px;
            height: 70px;
            border-radius: 20px;
        }
        &_header {
            margin-top: 30px;
            color: $white-color;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
        }
        &_descr {
            margin-top: 30px;
            color: $gray-color;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
}
