.title {
    text-align: center;
    color: $white-color;
    font-family: "Open Sans";
    text-align: center;
    font-size: 150px;
    font-weight: 700;
    &__promo {
        margin-top: 200px;
        font-size: 150px;
        box-shadow: -14px 8px 399px 128px rgba(16, 140, 137, 0.76);
        -webkit-box-shadow: -14px 8px 399px 128px rgba(16, 140, 137, 0.76);
        -moz-box-shadow: -14px 8px 399px 128px rgba(16, 140, 137, 0.76);
    }
}
