.title {
    text-align: center;
    color: $white-color;
    font-family: "Open Sans";
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    &__promo {
        font-size: 150px;
    }
}
